/**
* ◊HELPERS
* -------
* Helpful classes for quick layout tweaks and hacks
*/

// Yep, about what it sounds like
.inline{
  display: inline;
}

// Center all the things
.center-text{
  text-align: center;  
}

// Bouyancy
.fl {
  float: left;
}

.fr {
  float: right;
}

// Use small caps (if available)
.sc {
  -moz-font-feature-settings: "smcp=1";
  -moz-font-feature-settings: "smcp";
  -ms-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  -o-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}

// The ol’ clearfix hack
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

// Margin + padding adjustments…

// Classy overrides for margin
.m0    { margin: 0; }

.m0a   { margin: 0 auto; }
.m1rem { margin: 1rem; }

.mt0 { margin-top:    0 !important; }
.mr0 { margin-right:  0 !important; }
.mb0 { margin-bottom: 0 !important; }
.ml0 { margin-left:   0 !important; }

.mt1 { margin-top:    1 !important; }
.mr1 { margin-right:  1 !important; }
.mb1 { margin-bottom: 1 !important; }
.ml1 { margin-left:   1 !important; }

// Classy overrides for padding
.p0  { padding: 0; }

.pt0 { padding-top:    0 !important; }
.pr0 { padding-right:  0 !important; }
.pb0 { padding-bottom: 0 !important; }
.pl0 { padding-left:   0 !important; }

.pt1 { padding-top:    1 !important; }
.pr1 { padding-right:  1 !important; }
.pb1 { padding-bottom: 1 !important; }
.pl1 { padding-left:   1 !important; }

.p1rem { padding: 1rem; }


// Full width
.full, .full-width {
  width: 100%;
}

// For when a link needs to go incognito
.unstyled-anchor, .unstyled-anchor:hover, .unstyled-anchor:active{
  text-decoration: inherit;
  border:inherit;
  color:inherit;
}

// Horizontal center things
.hcenter {
  margin: 0 auto;
  width: 100%;
}

// Poof!
// Usually you should use the [hidden] attribute, but this could come in handy…
.hidden {
  display: none;
}

// Font things
.sans-serif {
  font-family: $interface-font-stack;
}

.serif {
  font-family: $text-font-stack;
}


// Colours
.tertiary-bg {
  background: $tertiary-color;
}

.tertiary-color {
  color: $tertiary-color;
}

// Pretty pretty ampersands
.amp {
  opacity: 0.8;
  font-style:italic;
  font-weight:400;
  font-family: 'Libre Baskerville', Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
}