/**
* INPUTS
* ---------
* Base styling for non-atrocious inputs and textareas
*/

input, 
button,
textarea {
  width: 100%;
  padding: 0.5rem 0.8rem;
  font-weight: $base-font-weight;
  border: 1px solid $butler-color;
  box-shadow: none;
  font-family: $interface-font-stack;
  @include respond-to(sm){
    width: auto;
  }
}

input[type=color] {
  padding: 0;
  width: 3rem;
  height: 3rem;
}

input:focus, input:active, 
textarea:focus, textarea:active, 
button:focus, button:active {
  outline: none;
  border: 1px solid $interactive-color;
}