header h1 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  @extend h2;
  color: $primary-color;
}

header img {
  @include respond-to(lg){
    position: relative;
    // left: 2rem;
    top: 0.5rem;
    margin-right: 2rem;
    display: inline;
    float: left;
  }
  height: 50px;
}

header h4 {
  font-family: $text-font-stack;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  color: darken($primary-color, 20);
}

textarea {
  width: 100%;
  height: 200px;
  height: 50vh;
  font-weight: 400;
}

form {
  text-align: center;
}

select {
  border: 2px solid $interactive-color;
}

#submit-button {
  clear:both;
  float: right;
  width: 25%;
  min-width: 200px;
}