.close-icon {
  font-size: 2.443rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  border-bottom: 0;
  opacity:0.5;
  &:hover {
    opacity:1;
  }
}

.logo-mark {
  font-family: $interface-font-stack;
  position: absolute;
  left: 1rem;
  top: -3rem;
  display: inline;
  opacity:0.5;
  &:hover {
    opacity:1;
  }
}
.output,
.about-text {
  font-family: $text-font-stack;
}