.subscribe h1, 
.subscribe h2, 
.subscribe h3,
.subscribe h4,
.subscribe h5,
.subscribe h6, {
  margin-top: 0;
}

.subscribe form {
  text-align: center;
  @include respond-to(sm){
    text-align: left;
    display: flex;
  }
}

.subscribe input[type='email'] {
  width: 100%;
  background-color: $tertiary-color;
  &:focus{
    border-left: 3px solid $active-color;
  }
  @include respond-to(sm){
    width: calc(100% - 20rem);
    flex: 3;
  }
}

.subscribe button[type='submit'] {  
  width: 100%;
  @include respond-to(sm){
    flex:1;
  }
}


.subscribe--box .fa-envelope {
  display: none; // not on mobile; I know this is a hack.
  color: white;
  float: left;
  padding-right: 1.5rem;
  margin-top: -0.5rem;
  opacity: .3;
  @include respond-to(sm){
    display: inline;
  }
}

.subscribe--box {
  color: $secondary-color;
  background-color: $butler-color;
  padding: 2rem;
  border: 4px solid $tertiary-color;
}

.subscribe--box h2 {
  color: $secondary-color;
}

.subscribe--box input[type='email'] {
  color: $secondary-color;
  border:0;
}

.subscribe--box button[type='submit'] {  
  font-family: $interface-font-stack;
}

.subscribe--box button[type='submit'] .fa {
  color: white;
  opacity: .5;
}

.subscribe--bar h1,
.subscribe--bar h2,
.subscribe--bar h3,
.subscribe--bar h4,
.subscribe--bar h5,
.subscribe--bar h6 {
  font-family: $text-font-stack;
  font-style: italic;
  color: $butler-color;
  text-align: center;
  margin-bottom: 0;
}

.subscribe--bar {
  padding: 2rem 0;
}

.subscribe input[type='email'] {
  font-family: $interface-font-stack;
  border: 0;
}

.subscribe button[type='submit'] {  
  font-family: $interface-font-stack;
  box-shadow: none;
  line-height: 1;
}
