.output--theme3, .output--theme3 p,
.output--theme3 li {
  font-family: 'Alegreya', 'PT Serif', 'Source Serif Pro', 'Charter', 'Georgia', serif !important;
}

.output--theme3 h1, .output--theme3 h2, .output--theme3 h3, 
.output--theme3 h4, .output--theme3 h5, .output--theme3 h6 {
  font-family: 'Bebas Neue', 'Source Sans Pro', Roboto, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 900 !important;
  text-transform: uppercase;
  color: #dd4814;
}

@font-face{font-family:'Alegreya';font-style:normal;font-weight:400;src:local('Alegreya'),url(//brick.a.ssl.fastly.net/fonts/alegreya/400.woff) format('woff')}@font-face{font-family:'Alegreya';font-style:normal;font-weight:700;src:local('Alegreya Bold'),url(//brick.a.ssl.fastly.net/fonts/alegreya/700.woff) format('woff')}@font-face{font-family:'Alegreya';font-style:italic;font-weight:400;src:local('Alegreya Italic'),url(//brick.a.ssl.fastly.net/fonts/alegreya/400i.woff) format('woff')}@font-face{font-family:'Alegreya';font-style:italic;font-weight:700;src:local('Alegreya Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/alegreya/700i.woff) format('woff')}