.output--theme2, .output--theme2 p,
.output--theme2 li,
.output--theme2 h1, .output--theme2 h2, .output--theme2 h3, 
.output--theme2 h4, .output--theme2 h5, .output--theme2 h6 {
  font-family: 'Latin Modern Roman', 'PT Serif', 'Source Serif Pro', 'Charter', 'Georgia', serif !important;
}


@font-face{font-family:'Latin Modern Roman';font-style:normal;font-weight:400;src:local('LMRoman10-Regular'),url(//brick.a.ssl.fastly.net/fonts/latinmodernroman/400.woff) format('woff')}@font-face{font-family:'Latin Modern Roman';font-style:italic;font-weight:400;src:local('LMRoman10-Italic'),url(//brick.a.ssl.fastly.net/fonts/latinmodernroman/400i.woff) format('woff')}@font-face{font-family:'Latin Modern Roman';font-style:normal;font-weight:700;src:local('LMRoman10-Bold'),url(//brick.a.ssl.fastly.net/fonts/latinmodernroman/700.woff) format('woff')}@font-face{font-family:'Latin Modern Roman';font-style:italic;font-weight:700;src:local('LMRoman10-BoldItalic'),url(//brick.a.ssl.fastly.net/fonts/latinmodernroman/700i.woff) format('woff')}