// Lobotomized Owl
// See: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
* + * {
  margin-top: 1rem;
}

body {
  background-color: $bg-color;
  margin-top: 0;
}

::-moz-selection, ::selection {
  background: $secondary-color;
  color: white;
}
 
// Basic container for good aesthetics and optimal line-length
.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: $container-width;
}

a {
  color: $interactive-color;
  border-bottom: 1px solid $tertiary-color;
  -webkit-transition: color, .2s;
  -o-transition: color, .2s;
  transition: color, .2s;
  
  &:hover {
    color: $active-color;
    border-bottom: 2px solid $tertiary-color;
  }
}

// So nobody gets their hopes up
[disabled] {
  color: $butler-color;
}

[readonly] {
  background-color: mix($butler-color, white, 50);
}

// No funky business…
img {
  max-width: 100%;
}

ul {
  font-family: inherit;
}

// Make nested <li>s have same margin-top as lob-owl applies
li {
  margin-top: 1rem;
  margin-left: 0;
  font-family: inherit;
}

// Indent nested <li>s
li li {
  margin-left: 1.25rem;
}

dt {
  font-weight: bold;
}

dd {
  text-indent: 1.5rem;
}

// Basic wrapping, smaller font-size, bg, etc. for code.
pre, code{
  background-color: $tertiary-color;
  white-space: pre-wrap;
  font-size: 0.8rem;
  font-family: $mono-font-stack;
  border: none;
}
 
pre {
  padding: 0.5rem 0.8rem;
  border: 1px solid tint($active-color, 20);
}

// Give it some space
code {
  padding: 0.25rem 0.5rem;
}

// Bye bye hideous yellow…
mark {
  background-color: $tertiary-color;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 0 0.25rem 0 $tertiary-color;
}

kbd {
  background-color: $tertiary-color;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid $butler-color;
}

abbr,
acronym {
  letter-spacing: 0.05rem;
  text-transform: lowercase;
  font-variant: small-caps;
  -moz-font-feature-settings: "smcp=1";
  -moz-font-feature-settings: "smcp";
  -ms-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  -o-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}

// Nice, subtle, clean <hr>s
hr{
  display: block;
  margin: 2rem auto;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: $tertiary-color 1px solid;
  text-align: center;
}

// With special sauce…
hr:after {
  position: relative;
  bottom: 0.5rem;
  color: $butler-color;
  display: inline;
  padding: 0 1rem;  
  content: "* * *";
  font-size: 1.563rem;
  line-height: 0;
  background-color: $bg-color;
}

// … or not!
hr.plain-hr:after {
  display: none;
}

// So tables don’t look like a lumber yard…
tr:nth-child(odd){
  background-color: $tertiary-color;
}

thead {
  border-bottom: 1px solid $bg-color;
}

td, th {
  padding: 0.25rem 0.5rem;
}

// Give inline items breating room;
.meta-spacer:after {
  color: $tertiary-color;
  content: ' • ';
  font-family: $interface-font-stack;
}