/**
* PRINT STYLES
* ------------
* This file sets some sane defaults for printing. 
*/

@media print{
  
  header[role=navigation] {
    display: none;
  }
  
  // Black and white for better contrast
  body {
    background: #fff;
    color: #000;
    font-size: 12pt;
  }

  // Make it so readers can find out where a link pointed
  p a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
  
  // Clearing the clutter
  hr:after {
    display: none;
  }

  // Nice margins
  @page {
    margin: 3cm;
  }
  
}